mysite/*.pyc
mysite/__pycache__
mysite/db.sqlite3
mysite/.DS_Store
.idea/*
.idea/
mysite/.idea/*
mysite/.idea/
mysite/.idea/workspace.xml
README.md
mysite/__pycache__
*.pyc
__pycache__
db.sqlite3
.DS_Store
workspace.xml